<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <title>FastAPI App</title>
</head>
<body>
    <header class="header">
        <nav class="nav-container">
            <a href="#" class="logo">
                <span class="logo-icon">🌟</span>
                Лого
            </a>

            <ul class="nav-menu">
               <li><a href="{{ url_for('root') }}" class="nav-link">Главная</a></li>
                <li><a href="{{ url_for('about_us_route') }}" class="nav-link">О нас</a></li>
                <li><a href="{{ url_for('services_route') }}" class="nav-link">Услуги</a></li>
                <li><a href="{{ url_for('news_route') }}" class="nav-link">Новости</a></li>
                <li><a href="{{ url_for('recomends_route') }}" class="nav-link">Рекомендации</a></li>
            </ul>

            <div class="nav-actions">
                <button class="btn btn-login">Войти</button>
            </div>

            <button class="mobile-toggle">☰</button>
        </nav>
    </header>

    
    <main class="content">
        <h1>Здесь предлагаемы нами сервисы</h1>
    </main>


    <script>
        // Мобильное меню
        const mobileToggle = document.querySelector('.mobile-toggle');
        const navMenu = document.querySelector('.nav-menu');

        mobileToggle.addEventListener('click', () => {
            navMenu.classList.toggle('active');
        });

        // Закрытие меню при клике на ссылку
        document.querySelectorAll('.nav-link').forEach(link => {
            link.addEventListener('click', () => {
                navMenu.classList.remove('active');
            });
        });
    </script>
</body>
</html>